body {
    background-color: #23252c;
}

.borderBox {
    padding: 5% 20%;
}

.header {
    background-color: #1a1b21;
}

.header--img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-top: 30px;
}

.header--name {
    color: white;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    font-family: Inter, sans-serif;
    margin-bottom: 0;
}

.header--title {
    text-align: center;
    font-family: Inter, sans-serif;
    color: #f3bf99;
    font-weight: 300;
    margin: 0;
}

.header--website {
    color: white;
    text-align: center;
    font-weight: 100;
    font-family: Inter, sans-serif;
    margin-bottom: 15px;
    margin-top: 10px;
    text-decoration: none;
}

.header--website > a:link {
    color: white;
    text-decoration: none;
}

.header--website > a:visited {
    color: white;
    text-decoration: none;
}

.buttonContainer {
    background-color: #1a1b21;
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
}

.buttonContainer > a {
    text-decoration: none;
}

.btnBlue {
    background-color: #5093e2;
    color: white;
    margin-left: 20px;
}

button {
    border-radius: 6px;
    font-family: Inter;
    margin: 0, 15px;
    margin-top: 15px;
    margin-left: 15px;
    border: none;
    display: flex;
}

button > img {
    height: 15px;
}

.mainBody {
    background-color: #1a1b21;
    margin-top: -18px;
    color: white;
    font-family: Inter;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 30px;
}

.mainBody > h1 {
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
}

.mainBody > p {
    font-size: 18px;
    margin: 0 35px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: white;
}

.footer--icon {
    margin: 0 15px 0 15px;
}

.footer--icon > img {
    height: 30px;
    padding: 10px;
}
